import firebase from "firebase";
import { initializeApp } from "firebase/app";
import "firebase/firestore";
import "firebase/auth";
import "firebase/storage";

// I'm using the example key here, I have the correct config
//const firebaseConfig = {
 //apiKey: "AIzaSyCElDI_6a5XBZkcP6BUdVDb9bfZfGb0quM",
 //authDomain: "internpro-b33e1.firebaseapp.com",
 //projectId: "internpro-b33e1",
 //storageBucket: "internpro-b33e1.appspot.com",
 //messagingSenderId: "304266856921",
 //appId: "1:304266856921:web:44dbe7d79631335f2e31c8",
 //measurementId: "G-HMRN971503"
//};
const firebaseConfig = {
  apiKey: "AIzaSyBAv2v7SiE_lZi1yP4hOyVaPYX9GQbLtiE",
  authDomain: "foodiefleet-5b3ce.firebaseapp.com",
  projectId: "foodiefleet-5b3ce",
  storageBucket: "foodiefleet-5b3ce.appspot.com",
  messagingSenderId: "1044242588477",
  appId: "1:1044242588477:web:f2762d3a6641e0f1ed9b54",
  measurementId: "G-84XVFXV0LH"
};

if (firebase.apps.length === 0) {
  initializeApp(firebaseConfig);
}

const db = firebase.firestore();
const auth = firebase.auth();
const storage = firebase.storage();

export { db, auth, storage };